---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Clayton Campos</h1>
			<p class="hero__text">
				Sou formado em ADS e Pós graduado em Engenheira de dados.</br>
				Apaixonado por inovação e tecnologia.</br>
				Focado principalmente na resolução de problemas de negócios dos clientes, entregando valor através de resultados e insights baseados em análises e construção de pipelines de dados.
			</p>
			<Boton href="#" texto="Saiba mais"/>
		</div>
    <img
		class="hero__img"
		src="/img/eu.png"
		alt="Clayton Campos"
		width="384"
    	height="384"
	/>
	</div>
</section>
