---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Big data, Cloudera, Teradata, Azure Data Factory, Databricks, Spark, Pyspark, Python, ETL, ELT, SQL, NoSQL, Data Warehouse, Data Lake, Data Lake House, Docker, Ansible, Git, Azure DevOps e Metodologias ágeis.
		</p>
	</div>
</section>
