---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="jhonDoe">
	<div class="terminal__skills">
		<h2>Certificações</h2>
		<div class="terminal__skills__container">
			<div class="terminal__skills__container__item">
				<TerminalIcon 
				src="/assets/12.svg" 
				color="#00A3FF" 
				name="Azure" 
				/>
				<p>
					AZ-900, DP-900, AI-900, SC-900, PL-900
				</p>
			</div>
			<div class="terminal__skills__container__item">
				<TerminalIcon
				src="/assets/15.svg"
				color="#761C34"
				name="OCI"
				/>
				<p>
					1Z0-1085-23, 1Z0-1105-22, 1Z0-1122-23
				</p>
			</div>
			<div class="terminal__skills__container__item">
				<TerminalIcon 
				src="/assets/9.svg" 
				color="#3FC679" 
				name="MongoDB" 
				/>
				<p>M103</p>
			</div>
			<div class="terminal__skills__container__item">
				<TerminalIcon
				src="/assets/1.svg"
				color="#9D3FC6"
				name="Airflow"
				/>
				<p>Apache Airflow Fundamentals</p>
			</div>
			<a style="font-size: 16px; color:#00A3FF;" href="https://www.credly.com/users/clayton-campos/badges">| Credly |</a>
	</div>
</Terminal>
