---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="jhonDoe">
	<div class="terminal__skills">
		<h2>Tecnologias</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/1.svg"
				color="white"
				name="Airflow"
			/>
			<TerminalIcon
				src="/assets/2.svg"
				color="#FF4747"
				name="Python"
			/>
			<TerminalIcon
				src="/assets/3.svg"
				color="#00D1FF"
				name="Cloudera"
			/>
			<TerminalIcon 
				src="/assets/4.svg" 
				color="#F3CBC2" 
				name="MySql"
			 />
			<TerminalIcon 
				src="/assets/5.svg" 
				color="#00A3FF" 
				name="Teradata" 
			/>
			<TerminalIcon
				src="/assets/6.svg"
				color="#FF4747"
				name="Spark"
			/>
			<TerminalIcon 
			src="/assets/7.svg" 
			color="#00A3FF" 
			name="Hbase" 
		/>
		<TerminalIcon
			src="/assets/8.svg"
			color="#FF4747"
			name="Hive"
		/>
		<TerminalIcon 
		src="/assets/9.svg" 
		color="#00A3FF" 
		name="MongoDB" 
	/>
	<TerminalIcon
		src="/assets/10.svg"
		color="#3F75FF"
		name="Hadoop"
	/>

		</div>
	</div>
</Terminal>
