---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="jhonDoe">
	<div class="terminal__skills">
		<div class="terminal__skills__container">
					<h2>Tecnologias</h2>
					<div class="terminal__skills__container">
						<TerminalIcon
						src="/assets/10.svg"
						color="#fbec5d"
						name="Hadoop"
					/>
						<TerminalIcon
							src="/assets/2.svg"
							color="#9D3FC6"
							name="Python"
						/>
						<TerminalIcon
							src="/assets/3.svg"
							color="#FF9D48"
							name="Cloudera"
						/>
						<TerminalIcon 
							src="/assets/4.svg" 
							color="#F3CBC2" 
							name="MySql"
						 />
						<TerminalIcon 
							src="/assets/5.svg" 
							color="#00A3FF" 
							name="Teradata" 
						/>
						<TerminalIcon
							src="/assets/6.svg"
							color="#FF9D48"
							name="Spark"
						/>
						<TerminalIcon 
						src="/assets/7.svg" 
						color="#00A3FF" 
						name="Hbase" 
						/>
						<TerminalIcon
							src="/assets/8.svg"
							color="#fbec5d"
							name="Hive"
						/>
						<TerminalIcon 
						src="/assets/9.svg" 
						color="#3FC679" 
						name="MongoDB" 
						/>
						<TerminalIcon
							src="/assets/11.svg"
							color="#FF9D48"
							name="DBT"
						/>
						<TerminalIcon
						src="/assets/15.svg"
						color="#761C34"
						name="OCI"
					/>
					<TerminalIcon 
					src="/assets/14.svg" 
					color="#F3CBC2" 
					name="GCP" 
					/>
						<TerminalIcon 
						src="/assets/12.svg" 
						color="#00A3FF" 
						name="Azure" 
						/>

						<TerminalIcon
							src="/assets/13.svg"
							color="#761C34"
							name="DataBricks"
						/>
				
						<TerminalIcon
							src="/assets/1.svg"
							color="#9D3FC6"
							name="Airflow"
						/>
					</div>
				</div>
			</Terminal>
			
		</div>
	</div>
</Terminal>
