---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './educacao.css';
---

<section id="educacao">
	
	<div class="text-content">
		<Title contenido="Formação" />
		<p>
			Sou Graduado em Comércio Exterior, Análise e Desenvolvimento de Sistemas e Pós Graduado em Engenharia de Dados.</br>
		</br><b>Certificações:</b></br>
		</br>
			<b>Microsoft Azure:</b> AZ-900, DP-900, AI-900, SC-900 e PL-900 estou estudando para tirar a Certificação Data Engineer DP-203.
		</br></br>
			<b>Oracle:</b> Oracle Cloud Infrastructure Foundations Associate (1Z0-1085-23), Oracle Cloud Data Management Foundations Associate (1Z0-1105-22) e Oracle AI Certified Foundations Associate
		</br></br>
			<b>Outras Certificações:</b> Apache Airflow Fundamentals, IBM Cloud Essentials V3, MongoDB (M103) Basic Cluster Adminstration
		</br></br>
			<b>Treinamentos:</b> Participei do Programa de Treinamento (Data Engineer) da Semantix, Bootcamps da DIO Banco Carrefour e Cognizant referente a imersão nas tecnologias de Big Data. Santander Coders 2023 Trilha Engenharia de Dados

		</p>
	</div>
	<SkillsOnTerminal />
</section>
